body{
    background-color: rgb(20, 13, 13);
    font-family: sans-serif;
    text-align: center;
}
nav a{
    margin: 10px;
}
h2{
    color: whitesmoke;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: whitesmoke;
}

h3{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
}

label{
    color: white;
}

input{
    margin: 10px;
}
table{
    margin: auto;
    margin-top: 40px;
    text-align: left;
    /* width: 25vw;
    height: 50vh; */
}
th{
    color: wheat;
}
td{
    color:white;
}
td, th{
    padding: 5px;
}