{%extends "base.html"%}
{%block title%}Create{%endblock%}
{%block content%}
<h3>Fill in the fields below to update an entry in the database</h3>
<form action="/update/{{updateId}}" method="POST" id="updateForm">
    <label for="make">Make</label>
    <input type="text" value ={{u.make}} name="make" id="uMAke">

    <label for="model">Model</label>
    <input type="text" value={{u.model}} name="model" id="uModel">

    <label for="width">Width</label>
    <input type="number" value={{u.width}} name="width" id="uWidth">

    <label for="length">Length</label>
    <input type="number" value={{u.length}} name="length" id="uLength">  
    <input type="submit">   
</form>  
{%endblock%}
